@charset   "Shift_JIS";
/*2009ビルダーデザインテンプレート用screen.css

-----------------------------------------------------------------------------------
menu
(1)全体的な指定、(2)特別な指定、(3)大きなレイアウト枠の指定、(4)#header内の指定、

(5)#main内の指定、(6)サイト名周りの指定、(7)linkの指定、(8)#contents-r内の指定、

(9)#contents-home内の指定、(10)#footer内の指定、(11)基本的な文字・背景色の指定
-----------------------------------------------------------------------------------*/


/*--------------------------------------------------------
 (1)全体的な指定

--------------------------------------------------------*/

html {
	margin: 0;
	padding: 0;
	font-size: 90%;
	line-height: 1.3em;
}

body {
	background : url(i_bg.gif) repeat;
	margin: 0;
	padding: 0;
	font-size: 90%;
	line-height: 1.3em;
	text-align: center;
}

html,body,p,ul,ol,li,td,th {
	color: #666;
	font-family: "MS PGothic", Osaka;
}

table,th,td {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

li,th,td,pre,code {
	font-size: 1em;
}

th {
	text-align: left;
}

ul,ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

pre {
	margin: 0px;
}

p {
	margin: 0;
	padding: 3px 0px 3px 0px;
}
/*--------------------------------------------------------
 (2)特別な指定

--------------------------------------------------------*/
/*---読み上げソフト対応のスキップ用c.gifに指定（非表示）---*/

#skip {
	margin-right: auto;
	margin-left: auto;
	display: none;
}
/*--------------------------------------------------------
 (3)大きなレイアウト枠の指定

--------------------------------------------------------*/
/*---レイアウト枠---*/

#header {
	margin-right: auto;
	margin-left: auto;
	width: 902px;
	padding: 0px;
	background : #49acac url(bg_header.gif) repeat-x left top;
	border-right: 1px solid #66C2C2;
	border-left: 1px solid #66C2C2;
}

#main {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 902px;
	border-right: 1px solid #66C2C2;
	border-left: 1px solid #66C2C2;
}

#vnavi {
	height: auto;
	width: 184px;
	border-left: 1px solid #66C2C2;
	background: #DCFFDC;
	margin: 0px;
	padding: 0px;
}

#contents-r {
	width: 184px;
	font-size: 0.9em;
}

#contents-home {
	background: #FFFFFF;
}

#contents {
	background: #FFFFFF;
}

#footer {
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	height: auto;
	width: 902px;
	border-right: 1px solid #66C2C2;
	border-bottom: 1px solid #66C2C2;
	border-left: 1px solid #66C2C2;
}
/*--------------------------------------------------------
 (4)#header内の指定

--------------------------------------------------------*/

#header .td-1 {
	text-indent: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}
/*--------------------------------------------------------
 (5)#main内の指定

--------------------------------------------------------*/

#main .spacer-1 {
	background: #FFFFFF;
}

#main .spacer-2 {
	background: #FFFFFF;
}
/*--------------------------------------------------------
 (6)サイト名周りの指定

--------------------------------------------------------*/

#vnavi-head {
	height: auto;
	width: 184px;
	margin: 0px;
	padding: 0px;
}

#vnavi-head .td-1 {
	background: #49ACAC;
}
/*--------------------------------------------------------
 (7)linkの指定

--------------------------------------------------------*/

#vmenu {
	margin: 0px;
	padding: 0px;
	float: none;
	width: 184px;
	min-height: 100%;
}

#vmenu ul {
	margin: 0px;
	list-style: none;
	padding: 0;
}

#vmenu ul li.parent-on {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	background-image : url(bg_vmenu_hover.gif);
	background-repeat: no-repeat;
	line-height: 2.37em;
}

#vmenu ul li.parent-on a:link {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	text-indent: 9px;
	line-height: 2.37em;
}

#vmenu ul li.parent-on a:visited {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	text-indent: 9px;
	vertical-align: middle;
	line-height: 2.37em;
}

#vmenu ul li.parent-on a:hover {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	text-indent: 9px;
	line-height: 2.37em;
}

#vmenu ul li.parent {
	background : url(bg_vmenu.gif) no-repeat center top;
	display: block;
	width: 184px;
	height: 31px;
	margin: 0 auto 0px;
	padding: 0;
	text-indent: 9px;
}

#vmenu ul li.parent a:link {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #009999;
	font-weight: bold;
	line-height: 2.37em;
}

#vmenu ul li.parent a:visited {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #009999;
	font-weight: bold;
	line-height: 2.37em;
}

#vmenu ul li.parent a:hover {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	background-image : url(bg_vmenu_hover.gif);
	background-repeat: no-repeat;
	line-height: 2.37em;
}

#vmenu ul li.child {
	background : #dcffdc url(bg_vmenu_chi.gif) no-repeat center top;
	display: block;
	width: 184px;
	height: 31px;
	margin: 0 auto 0px;
	padding: 0;
	text-indent: 25px;
}

#vmenu ul li.child a:link {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #666666;
	font-weight: normal;
	line-height: 2.37em;
}

#vmenu ul li.child a:visited {
	text-decoration: none;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #666666;
	line-height: 2.37em;
	font-weight: normal;
}

#vmenu ul li.child a:hover {
	text-decoration: underline;
	display: block;
	width: 184px;
	height: 31px;
	padding: 0;
	color: #666666;
	line-height: 2.37em;
	font-weight: normal;
	background : url(bg_vmenu_chi.gif);
}

a img {
	border: 0 solid #f00;
}

a:link {
	color: #0085CC;
	text-decoration: none;
}

a:visited {
	color: #8818F8;
	text-decoration: none;
}

a:hover {
	color: #0085CC;
	text-decoration: underline;
}
/*--------------------------------------------------------
 (8)#contents-r内の指定

--------------------------------------------------------*/

#contents-r .td-1 {
	width: 184px;
	font-size: 0.9em;
	padding-right: 10px;
	padding-left: 10px;
}

#contents-r ul {
	display: block;
	text-align: left;
	padding: 0px;
	margin: 0px 0px 0px 12px;
	text-indent: -1pt;
}
/*--------------------------------------------------------
 (9)#contents-home内の指定

--------------------------------------------------------*/

#contents-home .hometd-1 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	padding: 7px;
	width: 310px;
	height: auto;
}

#contents-home .hometd-2 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	width: 218px;
	padding: 7px;
	height: auto;
}

#contents-home .hometd-3 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	border-right: 4px solid #cbdad7;
	width: 185px;
	padding: 7px;
	height: auto;
}

#contents-home .hometd-4 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	padding: 7px;
}

#contents-home .hometd-5 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	padding: 7px;
}

#contents-home .hometd-6 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	border-right: 4px solid #cbdad7;
	padding: 7px;
}

#contents-home .hometd-7 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	padding: 7px;
}

#contents-home .hometd-8 {
	border-top: 4px solid #cbdad7;
	border-left: 4px solid #cbdad7;
	border-bottom: 4px solid #cbdad7;
	border-right: 4px solid #cbdad7;
	padding: 7px;
}

#contents-home .lin-1 {
	background : #49acac url(spacer-1.gif) repeat-x left top;
	height: 8px;
	width: 716px;
	margin: 0px;
	padding: 0px;
}
/*--------------------------------------------------------
 (10)#footer内の指定

--------------------------------------------------------*/

#footer .td-1 {
	text-indent: 10px;
}

#footer .lin-1 {
	background : #49acac url(spacer-1.gif) repeat-x left top;
	height: 8px;
	width: 716px;
	margin: 0px;
	padding: 0px;
}
/*--------------------------------------------------------
 (11)基本的な文字・背景色の指定

--------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.7em;
	font-weight: bold;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
}

h3 {
	font-size: 0.9em;
	font-weight: bold;
}

h4 {
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
}

h5 {
	font-size: 0.9em;
	font-weight: bold;
	color: #725B45;
}

h6 {
	font-size: 0.9em;
	font-weight: bold;
}

.big {
	font-size: 2em;
}

.small {
	font-size: 0.85em;
}

.small-2 {
	font-size: 0.9em;
}

.bold {
	font-weight: bold;
}

.nobold {
	font-weight: normal;
}

.section {
	margin: 0;
	padding-left: 0.6em;
	display: block;
}

.linh-09 {
	line-height: 0.9em;
}

.linh-10 {
	line-height: 1em;
}

.linh-11 {
	line-height: 1.1em;
}

.linh-12 {
	line-height: 1.2em;
}

.linh-13 {
	line-height: 1.3em;
}

.linh-14 {
	line-height: 1.4em;
}

.linh-155 {
	line-height: 1.55em;
}
/*--- Color ---*/

.alert {
	color: #9F2000;
}

.orange-1 {
	color: #FF9900;
}

.orange-2 {
	color: #9B4900;
}

.blue {
	color: #0085CC;
}

.black {
	color: #000000;
}

.white {
	color: #FFFFFF;
}

.bg-gray1 {
	background: #F5F5F5;
}

.bg-gray2 {
	background: #848484;
}

.bg-green {
	background: #DCFFDC;
}

.bg-black {
	background: #000000;
}

.bg-white {
	background: #FFFFFF;
}
/*--------------------------------------------------------
 (12)レイアウトTools
 line-height align indent
--------------------------------------------------------*/

.block {
	display: block;
}

.align-r {
	text-align: right;
}

.align-rb {
	text-align: right;
	vertical-align: bottom;
}

.align-l {
	text-align: left;
}

.align-t {
	vertical-align: top;
}

.align-b {
	vertical-align: bottom;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

.indent-8 {
	text-indent: 8px;
}

.indent-10 {
	text-indent: 10px;
}

.indent-12 {
	text-indent: 12px;
}
/*--------------------------------------------------------
 (13)レイアウトTools
 margin & padding (隙間の微調整用/数字の並びはtrbl＝ショートハンドと同じ並び) 
--------------------------------------------------------*/
/*--- サブヘッド、コンテンツまわり用 ---*/

.margin-18-0-0-0 {
	margin: 18px 0px 0px 0px;
}

.margin-18-0-8-0 {
	margin: 18px 0px 8px 0px;
}

.margin-0-0-18-0 {
	margin: 0px 0px 18px 0px;
}

.margin-0-0-7-0 {
	margin: 0px 0px 7px 0px;
}

.margin-0-0-8-0 {
	margin: 0px 0px 8px 0px;
}

.margin-0-0-10-0 {
	margin: 0px 0px 10px 0px;
}

.margin-0-0-10-10 {
	margin: 8px 8px 8px 8px;
}
/*--------------------------------------------------------------------------*/
/*--- heroなど：ゆったりした感じ ---*/

.padding-8-12-12-12 {
	padding: 8px 12px 12px 12px;
}
/*--- 汎用：平均的な感じ ---*/

.padding-6-4-6-10 {
	padding: 6px 4px 6px 10px;
}

.padding-6-10-6-10 {
	padding: 6px 10px;
}
/*--- 汎用：コンパクト ---*/

.padding-6-4-4-6 {
	padding: 6px 4px 4px 6px;
}
/*--- 専用:関連リンクのページ ---*/

.padding-0-4-4-6 {
	padding: 0px 4px 4px 6px;
}

.padding-0-4-4-0 {
	padding: 0px 4px 4px 0px;
}

.padding-6-4-4-0 {
	padding: 6px 4px 4px 0px;
}
/*--------------------------------------------------------------------------*/
/*--- 汎用:すっきりデザインのフォーム用 ---*/

.padding-20-8-8-20 {
	padding: 20px 8px 8px 20px;
}

.padding-20-8-8-0 {
	padding: 20px 8px 8px 0px;
}

.padding-8-8-8-20 {
	padding: 8px 8px 8px 20px;
}

.padding-8-8-8-0 {
	padding: 8px 8px 8px 0px;
}

.padding-8-8-20-20 {
	padding: 8px 8px 20px 20px;
}

.padding-8-8-20-0 {
	padding: 8px 8px 20px 0px;
}
/*--------------------------------------------------------
 (14)formの指定

--------------------------------------------------------*/

form {
	margin: 0;
	padding: 0;
}

input {
	margin: 0;
	padding: 0px;
}

input,textarea,select {
	font-size: .9em;
}
